.navbar.navbar-default(role='navigation')
  .container-fluid
    .navbar-header
      a.navbar-brand(ui-sref='home') AngularJS for Professionals
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(ui-sref-active='active')
          a(ui-sref='home') Home
        li(ui-sref-active='active')
          a(ui-sref='about') About